{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1 class="text-center pt-3">Some Challenging Projects That I Completed</h1>
    <br />
    <br />

    {% for blog in blogs.all %}
        <div class="mb-5">
            <a href="{% url 'detail' blog.id %}">
                <h3 class="mb-3">{{ blog.title }}</h3>
            </a>
            <p>{{ blog.pub_date_pretty }}</p>
            <img class="img-fluid mb-3" src="{{ blog.image.url }}" height="200" width="400" alt="{{ blog.title }}" />
            <p>{{ blog.summary }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}