{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="row">
      <!-- Image Section -->
      <div class="col-md-6">
          <img class="img-fluid rounded" src="{{ blog.image.url }}" alt="{{ blog.title }}">
      </div>

      <!-- Text Section -->
      <div class="col-md-6">
          <h1 class="text-center">{{ blog.title }}</h1>
          <p class="text-center text-muted">{{ blog.pub_date_pretty }}</p>
          <div class="blog-body mt-4">
              {{ blog.body|safe }}
          </div>
      </div>
  </div>
</div>

{% endblock %}