{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="container py-5">
  <div class="row align-items-center">
    <!-- Profile Picture -->
    <div class="col-md-4">
      <img src="{% static 'Photo.jpeg' %}" class="img-fluid rounded-circle" alt="Farid Farhat">
    </div>

    <!-- Text Box about yourself -->
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-body">
          <h2 class="card-title">About Me</h2>
          <p class="card-text">Hi, I'm Farid Farhat, a passionate web developer specializing in creating sleek, functional websites using Django and Bootstrap. I have a keen interest in sustainable solutions and innovation. Feel free to reach out to me via email or LinkedIn.</p>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}